<div class="table-container">
  <div class="header">
    <h2>Inventar</h2>
    <div class="button-group">
      <button [disabled]="selectedItems.length === 0">Geräte ausleihen</button>
      <button *ngIf="authService.isAdmin()" (click)="createEntry()">Eintrag erstellen</button>
    </div>
  </div>
  <p-table [value]="items" selectionMode="multiple" [(selection)]="selectedItems" [paginator]="true" [rows]="10" [sortField]="'deviceName'" [sortOrder]="1" [contextMenu]="cm" [(contextMenuSelection)]="selectedItem" [ngStyle]="{'height': 'calc(80vh - 100px)', 'width': '80vw'}">
    <ng-template pTemplate="header">
      <tr>
        <th style="width: 3em">
          <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
        </th>
        <th pSortableColumn="id">ID <p-sortIcon field="id"></p-sortIcon></th>
        <th pSortableColumn="deviceName">Gerätename <p-sortIcon field="deviceName"></p-sortIcon></th>
        <th pSortableColumn="deviceCondition">Gerätezustand <p-sortIcon field="deviceCondition"></p-sortIcon></th>
        <th pSortableColumn="loanDuration">Ausleihdauer <p-sortIcon field="loanDuration"></p-sortIcon></th>
        <th pSortableColumn="category.name">Kategorie <p-sortIcon field="category.name"></p-sortIcon></th>
        <th pSortableColumn="department.name">Abteilung <p-sortIcon field="department.name"></p-sortIcon></th>
        <th *ngIf="isAdmin">Aktionen</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-item>
      <tr [pContextMenuRow]="item">
        <td style="width: 3em">
          <p-tableCheckbox [value]="item"></p-tableCheckbox>
        </td>
        <td>{{ item.id }}</td>
        <td>{{ item.deviceName }}</td>
        <td>{{ item.deviceCondition }}</td>
        <td>{{ item.loanDuration }}</td>
        <td>{{ item.category.name }}</td>
        <td>{{ item.department.name }}</td>
        <td *ngIf="isAdmin">
          <button pButton class="p-button-rounded p-button-text custom-button" (click)="editItem(item)">
            <i class="pi pi-pencil"></i>
          </button>
          <button pButton class="p-button-rounded p-button-text custom-button" (click)="copyItem(item)">
            <i class="pi pi-copy"></i>
          </button>
          <button pButton class="p-button-rounded p-button-text custom-button-danger" (click)="deleteItem(item)">
            <i class="pi pi-trash"></i>
          </button>
        </td>
      </tr>
    </ng-template>
  </p-table>
  <p-contextMenu #cm [model]="menuItems"></p-contextMenu>
</div>