body {
  background-color: #add8e6; /* Hellblauer Hintergrund */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-family: Arial, sans-serif;
}

.outer-container {
  display: flex;
  justify-content: center;
  align-items: center;

}


.detail-container {
  width: 80vw;
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 20px;
}

h2 {
  margin: 0;
}

button {
  padding: 10px 20px;
  background-color: #28a745; /* Grün */
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #218838; /* Dunkleres Grün beim Hover */
}

.back-button {
  background-color: #007bff; /* Blau */
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.back-button:hover {
  background-color: #0056b3; /* Dunkleres Blau beim Hover */
}

.detail-card {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
}

.form-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.form-group {
  flex: 1;
  margin-right: 20px;
}

.form-group:last-child {
  margin-right: 0;
}

input[type="text"], select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type="text"]:focus, select:focus {
  border-color: #007bff;
  outline: none;
}

.button-group {
  display: flex;
  gap: 5px; /* Abstand von 5px zwischen den Buttons */
}
button:disabled {
  background-color: #cccccc; /* Grau für deaktivierte Buttons */
  cursor: not-allowed;
}